<main>
    <section>
      <h1>Contato</h1>
          <div id="flex">
            <i class="bi bi-google"></i>
            <p>Email (gmail) :
               <a href="mailto:gumalimpensa@gmail.com" target="_blank"> gumalimpensa@gmail.com</a>
            </p>
          </div>
          <div id="flex">
            <i class="bi bi-hdd"></i>
            <p> Curriculo :
              <a target="_blank" rel="noopener" href="https://drive.google.com/file/d/1cXFluLOp7_qBPdb5PQbrC3GhfrNB8V4_/view?usp=sharing">Google Drive</a>
            </p>
          </div>
    </section>
  </main>
  