#curio {
  transition: 0.4s;
  
  &:hover {
    color: #fff0b3;
  }
}

/* Detalhes Curiosos = curio */

#container {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  transition: 0.9s;
  border-radius: 5px;
}

/* Definição do Container dos Links de curso */

img {
  float: left;
  border: transparent thin solid;
  padding: 5px;
  margin: 0px 10px 10px 0;
  max-width: 250px;
}

figure {
  float: left;
  border: transparent thin solid;
}

a > img {
  border-radius: 10px;
  margin-left: 25px;
}

#social > figcaption {
  margin-left: 25px;
}

#social {
  transition: 0.5s;
  
  &:hover {
    transform: scale(0.9);
    font-weight: bold;
    color: #ffffbb;
  }
}

/* Detalhes e animação hover */

#gustavo {
  font-weight: 500;
}

/* meu nome */

p {
  color: #b9b9b9;
}

h1, h2, h3, h4 {
  font-family: 'Raleway';
}

footer {
  display: flex;
  justify-content: center;
  color: aliceblue;
  position: bottom;
}
