
<main>
    <header data-aos="fade-down" data-aos-duration="1000">
        <nav class="navbar" >
        <div id="thalys">
            <i class="bi bi-gem" id="diamante"></i>
            <a id="nome"  routerLink="">Gustavo Malimpensa</a>
        </div>
        <ul>
            <li>
            <a data-aos="fadein" data-aos-duration="1000" placement="bottom"  routerLink="/Sobre">Sobre</a>
            </li>
            <li>
            <a data-aos="fadein" data-aos-duration="3000" placement="bottom"  routerLink="/Experiência">Experiência</a>
            </li>
        </ul>
        </nav>
    </header>
</main>

  
  
  