<section id="bg">
  <div>
    <div class="mobi">
      <img id='eu' [src]="eu" width="330px" >
    </div>
    <div id="formatar">
      <div id="elementos">
        <h1 data-aos="fade-right"> Desenvolvimento Full Stack</h1>
        <h2 data-aos="fade-right">
          <p id="ang">Angular</p>
          <p>-</p>
          <p id="typ">Typescript</p>
          <p>-</p>
          <p id="py">Python</p>
          <p>-</p>
          <p id="nd">Node</p>
        </h2>
      </div>
    </div>
  </div>
</section>
  