<section id="bg">
  <div>
    <div class="mobi">
      <img id='eu' [src]="eu" width="330px" >
    </div>
    <div id="formatar">
      <div id="elementos">
        <h1 data-aos="fade-right"> Desenvolvimento Full Stack</h1>
        <h2 data-aos="fade-right">
          <p id="ang">Angular</p>
          <p>-</p>
          <p id="rec">React</p>
          <p>-</p>
          <p id="node">Node</p>
          <p>-</p>
          <p id="exp">Express</p>
          <p>-</p>
          <p id="typ">TypeORM</p>
        </h2>
      </div>
    </div>
  </div>
</section>
  