<section id="bg">
  <div>
    <div class="mobi">
      <img class="eu" id='eu' [src]="eu" >
    </div>
    
    <div class="formatar">
      <div class="elementos" id="elementos">
        <h1 > Desenvolvedor Full Stack</h1>
        <h2 data-aos="fade-right">
          <p id="ang">Angular</p>
          <p>-</p>
          <p id="rec">React</p>
          <p>-</p>
          <p id="node">Node</p>
          <p>-</p>
          <p id="exp">Express</p>
          <p>-</p>
          <p id="typ">TypeORM</p>
        </h2>
      </div>
    </div> 
    </div>
</section>
  