<section>
  <div>
   
    <div id="grid">
      <div id="obj" class="card bg-dark" >
        <img [src] = 'portifolio1' width="100%" data-aos-duration="1000">
        <div class="card-body">
          <h4 class="card-title"> Portifólio </h4>
          <h6 class="card-subtitle mb2 text-primary" >Projeto Atual</h6>
            <p class="card-text">Portifólio criado com o framework Angularutilizando Diversas bibliotecas e métodos.
            </p> 
            
            <p class="card-text"> Sendo Algumas delas:
            
            <b id="bootstrap" ngbTooltip="Bootstrap é uma biblioteca web com código-fonte aberto para desenvolvimento de componentes de interface e front-end para sites e aplicações web" placement="top">Bootstrap</b> -
            
            <b id="aos" ngbTooltip="A biblioteca AOS (Animation On Scroll) é uma ferramenta de programação front-end que permite a criação de animações em elementos da página enquanto o usuário rola a página. Essa biblioteca é muito popular entredesenvolvedores de web que buscam adicionar animações dinâmicas e interativas em seus sites e aplicativos. " placement="top"> AOS </b> -
            
            <b id="routing" ngbTooltip="É uma maneira simples de navegar nas páginas do nosso app. Tecnicamente não temos múltiplas páginas no Angular, apenas carregamos diferentes componentes, desta forma economizamos dados e fazemos a página parecer diferente." placement="top">Routing Module</b>
            
          </p>
          <div id=detal>
            <a target="_blank" rel="noopener" href="https://github.com/GustavoMalimpensa/Portfolio"><button>Repositório do Projeto</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


  
  
  
  