<section>
  <div id="titulo">
    <h1 data-aos="fade-right" data-aos-duration="1000"> Projetos </h1>
  </div>
  <div class="container">
    <ngx-slick-carousel class="cards-container" #slickCarousel [config]="slickCarouselConfig">
      <div class="card" *ngFor="let project of visibleProjects">
        <div class="card-content">
          <div class="card-image">
            <img [src]="project.image" alt="Imagem do Projeto">
          </div>
          <h4 class="card-title">{{ project.title }}</h4>
          <p class="card-description">{{ project.description }}</p>
          <div class="card-details">
            <a target="_blank" rel="noopener" [href]="project.url">Repositório do Projeto</a>
          </div>
        </div>
      </div>
    </ngx-slick-carousel>
    <div class="arrow left" *ngIf="showLeftArrow" (click)="scrollCards('left')"></div>
    <div class="arrow right" *ngIf="showRightArrow" (click)="scrollCards('right')"></div>
  </div>
</section>
