<section>
    <div>
      <h1 data-aos="fade-right" data-aos-duration="1000"> Experiência </h1>
        <hr>
        <article data-aos="zoom-out-right" data-aos-duration="1500">
          <h3> 2019 </h3>
            <div id="obj">
              <div id="img">
            <img [src]="sdr" width="50px">
            <h4>SDR - Duração -  2 anos 3 meses</h4>
              </div>
            <p>Atuei como Técnico em eletrônica, Execução de serviços como manutenção elétrica preditiva, 
            preventiva e corretiva substituindo peças e componentes desgastados, ligando e desligando circuitos,
            efetuando reparos, verificando e diagnosticando problemas com máquinas e equipamentos.
            </p>
            </div>
        </article>
          <hr>
        <article data-aos="zoom-out-right" data-aos-duration="1500">
          <h3> 2022 </h3>
          <div id="obj">
            <div id="img">
              <img [src]="dimensao" width="50px">
            <h4> Grupo Dimensão - Duração - 6 meses</h4>
            </div>
            <p>Atuei como Técnico em segurança patrimonial, fazia instalação, configuração e diagnósticos 
              de hardware e softwares diversos, atender as solicitações de suporte dentro dos padrões e prazos
              estabelecidos, entre outras atividades. Realização de orçamentos para compras e manutenções de
              equipamentos e softwares, instalação de rede lógica, elétrica e cftv nas empresas, configuração 
              de equipamentos, câmeras, dvr, entre outros.</p>
          </div>
        </article>
          <hr>
        <h1 data-aos="fade-right" data-aos-duration="1000"> Estágios </h1>
        <article data-aos="zoom-out-right" data-aos-duration="1500">
          <h3> 2022 </h3>
          <div id="obj">
            <div id="img">
              <img [src]="estrutura" width="50px">
              <h4> Estrutura Dinamica - 6 meses - até o momento</h4>
            </div>
            <p>Atuo com manutenção de computadores, melhoria continua do sistema de monitoramento desenvolvidos, 
            atender solicitações de suporte através de tickets, acompanhar ciclo de vida dos chamados e
            realizar escalonamento sempre que necessário, utilizar sistemas de monitoramento e executar 
            ações preventivas, realizar diagnósticos e avaliações técnicas e propor soluções de ajustes.</p>
          </div>
        </article>
          <hr>
        <article data-aos="zoom-out-right" data-aos-duration="1500">
          <h3> 2023 </h3>
          <div id="obj">
            <div id="img">
              <img [src]="hub" width="50px">
              <h4>Hub Rio Claro  - 3 Meses - até o momento </h4>
            </div>
            <p> Propor soluções de ponta a ponta visando a melhoria em setores e departamentos. Recepcionar 
            startups e empresas que visam ter apoio ou entendimento do projeto municípal para o seu negócio,
            sugerindo soluções tecnológica para as áreas atendidas.</p>
          </div>
        </article>
    </div>
  </section>
  